 
div.descr-name{display:none!important;}
div.st-descr-avatar{display:none!important;}
div.descr-stat-value{display:none!important;}
div.top-descr{background:none!important;}
div#logo{display:none!important;}
div#fp-search{display:none!important;}
#truetop{background:url(http://e.thumbs.redditmedia.com/tNS6IfJ467ogOlAF.png);}
div#stagetools{opacity:0.52!important;}
div#classic{display:none!important}
div.change.toggle{display:none!important}
/* #st-descr{display:none!important} */
 
input#fp-search-box{display:none!important;}
SPAN.subscribe.basic-btn{display:none!important;}
div.st-room-links{display:none!important;}
div.descr-stat-tip{display:none!important;}
span.jq-icon.jq-icon-arrow-down{display:none!important;}
/* div.controls{display:none!important;} */
div.webcam.toggle{display:none!important;}
div.chattoggle.toggle{display:none!important;}
div.listview{display:none!important;}
div.thumbview{display:none!important;}
div#lock{display:none!important;}
div#footer{display:none!important;}
div.mods{margin:0px; padding:0px;border:none!important;}
a{color:black!important;}
div.custom{background:none!important;border:none!important;}
/* ad display */
/* div#interactive{display:none!important;} */
/* div.top-descr{display:none!important;} */




