div.top-descr
{
position:fixed!important;
top:30px!important;
right:5px!important;
}
div.descr-name{display:none!important;}
div.st-descr-avatar{display:none!important;}
div.descr-stat-value{display:none!important;}
div.top-descr{background:none!important;}
div#logo{display:none!important;}
div#fp-search{display:none!important;}
#truetop{background:url(http://e.thumbs.redditmedia.com/tNS6IfJ467ogOlAF.png);}
div#stagetools{opacity:0.52!important;}
div#classic{display:none!important}
div.change.toggle{display:none!important}
/* #st-descr{display:none!important} */
 
input#fp-search-box{display:none!important;}
SPAN.subscribe.basic-btn{display:none!important;}
div.st-room-links{display:none!important;}
div.descr-stat-tip{display:none!important;}
span.jq-icon.jq-icon-arrow-down{display:none!important;}
/* div.controls{display:none!important;} */
div.webcam.toggle{display:none!important;}
div.chattoggle.toggle{display:none!important;}
div.listview{display:none!important;}
div.thumbview{display:none!important;}
div#lock{display:none!important;}
div#footer{display:none!important;}
div.mods{margin:0px; padding:0px;border:none!important;}
div.custom{background:none!important;}
/* ad display */
/* div#interactive{display:none!important;} */
/* div.top-descr{display:none!important;} */










    #header {
    border-bottom: none;
    position: relative;
    background-color:transparent;
    z-index: 99;
    background-repeat:repeat-x;
    }
    #header-bottom-left {
    background-image: url(%%synchtubetopbar%%);
    padding-top:11px;
    }
    #header-img {
    margin-left:170px;
    }
    #search input[type="text"] {
    border: 1px solid #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-size: 13px;
    width: 220px;
    padding: 4px 9px;
    background: #EEE;
    line-height: 1;
    color: #555;
    }
    .side {
    float: right;
    background-color: #222;
    margin: 0px 5px 0 5px;
    width: 300px;
    color: #CCC;
    padding:5px;
    }
    .titlebox form.toggle, .leavemoderator { color: #CCC; background-color: #222; }
    .titlebox h1 a {
    color: #CCC;
    }
    .icon-menu a {
    background: none;
    color: #C4C4C4;
    }
    .sidebox .spacer { color: #36C; background-color: #222; }
    .nub { display:none; }
    .morelink { background:#555; }
    .morelink a {
    color: #CCC;
    }
    .morelink:hover a {
    color: #FFF;
    }
    .morelink:hover {
    background:none;
    border: 1px solid #fff;
    }
    body {
    background-color: #222;
    }
    .content{
    background-color: #fff;
    border: 1px solid #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    }
     
    #header-bottom-right { background: none; }
    #userbarToggle {
    color: #ccc;
    display: inline-block;
    background-color: transparent;
    border-right: 1px solid #ffffff;
    }
    /************RED TEXT***************/
     
    /* MASSIVE RED TEXT */
    h2 {
        color: black;
        font-size: 16px
        }
     
    /* MASSIVE RED TEXT */
    h3 {
        font-family: "Comic Sans MS";
        color: purple;
        font-size: 25px
        }
     
    /* EVEN MORE MASSIVE TEXT */
    h4 {
        color: red;
        font-size: 40px
        }
     
    h5 {
        font-family: "Impact";
        color: Green;
        font-size: 50px
        }
     
    h6 {
        font-family: "Georgia";
        color: Blue;
        font-size: 60px
        }
     
    /* GREENTEXT  */
    .md blockquote {
        border: 0;
        margin: 0;
        color: #789922;
        display: block
        }
     
    .md blockquote p:before {
        content: ">";
        float: left;
        display: block
        }


